:root {
  --font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: auto;
  background: #f6f6fe;
  list-style: none;
  margin-bottom: 24px;
}
.item h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
  list-style: none;
}
.podlist {
  margin: 0 auto;
}
.item li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: auto;
  height: 40px;
  list-style: none;
  margin: 16px auto;
  text-align: left;
  padding: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  outline: none;
}

.hello {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  /* display: flex;
  flex-direction: column; */
}
.login-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.login-form input:hover {
  border: 1px solid #000;
}
.login-form input:focus {
  outline: none;
  border-color: #808080;
}
.login-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-form button:hover {
  background: #6c8cff;
}
.widget {
  border-radius: 8px;
  padding: 100px 88px;
  width: auto;
  height: 280px;
}
.widget p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.widget button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  border: none;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.widget button:hover {
  background: #6c8cff;
}

#controls {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background: #f6f6fe;
  display: flex;
  gap: 16px;
}
#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px;
  width: 150px;
  height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.create {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  border: NONE;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.create:hover {
  background: #6c8cff;
}
.destroy {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  border: none;
  background: #ff4e4e;
}
.destroy:hover {
  background: #ff7070;
}
#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  border-radius: 8px;
  padding: 32px;
  width: auto;
  height: auto;
  background: #f6f6fe;
}
